@import '../../../styles/colors';
.Header-Container {
    width: 100%;
    box-shadow: 0 0px 10px 0px $grey-color;
    padding: 0px 6%;
    // justify-content: space-between;
    position: relative;
    align-items: center;
    .Links-Wrapper {
        position: absolute;
        left: 25.6%;
        bottom: 15%;
        font-size: 14px;
        color: $dark-grey-color;
        font-weight: 500;
        .Product-Link {
            margin-left: 35%;
        }
    }
    .Register-Wrapper {
        position: absolute;
        right: 6%;
        top: 8%;
        font-size: 11px;
        color: $dark-grey-color;
        font-weight: 500;
        width: 80px;
        .Register-Link {
            margin-left: 10%;
        }
    }
   
}

@media (max-width: 767px) {
    .Header-Container {
        padding: 0px;
        .Links-Wrapper {
           display: none;
        }
        .Register-Wrapper {
            display: none;
        }
    }

}

@media (max-width: 1023px) {
    .Header-Container {
        padding: 0px;
        .Register-Wrapper {
            right: 0%;
            top: 8%;
            font-size: 11px;
            color: $dark-grey-color;
            font-weight: 500;
            width: 80px;
            .Register-Link {
                margin-left: 10%;
            }
        }
    }
}
