html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Width-Full {
  width: 100%;
}

.Flex {
  display: flex;
}

.Flex-Col {
  flex-direction: column;
}

.Flex-Wrap {
  flex-wrap: wrap;
}