@import '../../../styles/colors';

.Cart {
    padding: 10px;
    background-color: $grey-color;
    // margin-top: 40px;
    position: absolute;
    cursor: pointer;
    right: 6%;
    align-items: center;
    bottom: 0px;
    border-radius: 1px;
    .Image-Wrapper {
        svg {
            height: 20px;
            width: 20px;
            fill: $dark-pink-color;
        }
    }
    .Cart-Text {
        font-size: 14px;
        margin-left: 6px;
    }
}

@media (max-width: 767px) { 
    .Cart {
        padding: 11px 20px 8px 8px;
        right: 0px;
        .Image-Wrapper {
            svg {
            height: 25px;
            width: 25px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .Cart {
        right: 0px;
    }
}