@import '../../styles/colors';

.Login-Container {
    .Login-Wrapper {
        padding: 0 6%;
        .Title {
            padding: 50px 30px 30px 90px;
            width: 40%;
            h1 {
                margin: 0px;
                font-size: 30px;
            }
            p {
                margin-top: 10px;
                font-size: 10px;
            }
        }
        .Login-Form {
            width: 30%;
            padding: 10px;

            .Field {
                padding: 20px 0px;
            }
            button {
                background-color: $dark-pink-color;
                border: none;
                width: 100%;
                padding: 10px;
                color: #fff;
                border-radius: 2px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .Copy {
        background-color: $grey-color;
        font-size: 10px;
        // text-align: center;
        padding: 10px 6%;
    }
}